<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>MusicPro</title>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="resources/css/bootstrap.min.css" />
	<link type="text/css" rel="stylesheet" href="resources/css/slick.css" />
	<link type="text/css" rel="stylesheet" href="resources/css/slick-theme.css" />
	<link type="text/css" rel="stylesheet" href="resources/css/nouislider.min.css" />
	<link rel="stylesheet" href="resources/css/font-awesome.min.css">
	<link type="text/css" rel="stylesheet" href="resources/css/registro.css" />
</head>

<body>
	<div class="contenedor">
		<form action="/registro" method="post">
			<div class="imgcontainer">
				<a href="/" class="logo">
					MusicPro
				</a>
			</div>
		  
			<div class="register-form">
				<label for="user">Nombre completo</label>
				<input type="text" name="user" required>

				<label for="correo">Correo</label>
				<input type="text" name="correo" required>

				<label for="phone">Telefono</label>
				<input type="number" name="phone" required>

				<label for="rut">Rut</label>
				<input type="number" name="rut" required>

				<label for="pass">Contraseña</label>
				<input type="password" name="pass" required>

				<div style="display: inline;">
					<a href="/" class="primary-btn">Cancel</a><input type="submit" class="button" value="Save">
				</div>
			</div>
		  </form>
		</div>

	<!-- jQuery Plugins -->
	<script src="resources/js/jquery.min.js"></script>
	<script src="resources/js/bootstrap.min.js"></script>
	<script src="resources/js/slick.min.js"></script>
	<script src="resources/js/nouislider.min.js"></script>
	<script src="resources/js/jquery.zoom.min.js"></script>
	<script src="resources/js/main.js"></script>
	<script src="resources/js/script.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.js"></script>
</body>

</html>